<% include ../partials/header %>

<p>
    <%=campground.name%>
</p>

<p>
    <img src="<%=campground.image%>">

</p>

<p>
    <%=campground.description%>
</p>

<p>
    <a href="/campgrounds/<%=campground._id%>/comments/new" class="btn btn-success">Add New Comment</a>
</p>
<p>
    <%campground.comments.forEach(function(comment){%>
        <p>
            <strong>
                <%=comment.author%>
            </strong>
             - <%=comment.text%></p>
    <%})%>
</p>

<% include ../partials/footer %>